<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Evo Fitsor - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<div class="container">

    <div class="card">

        <h1>Evo Fitsor</h1>

        <h2>Iniciar Sesión</h2>

        <form action="/login_user" method="POST">

            <input
                type="text"
                name="username"
                placeholder="Usuario"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Contraseña"
                required
            >

            <button type="submit">
                Ingresar
            </button>

        </form>

        <p>
            ¿No tienes cuenta?
        </p>

        <a href="/register">
            Registrarse
        </a>

    </div>

</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>
</html>